.floating_apps {
    position: fixed;
    left: -65px;
    bottom: 50%;
    width: 80px;
    height: 80px;
    background-color: salmon;
    text-align: right;
    font-size: 1.45rem;
    transition: all 0.3s;
    color: black;
}

.floating_apps:hover {
    left: -35px;
}